*{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
.main_header__logo{
	float: left;
	width: 20%;
	text-align:center;
}
.center_box{
	float: left;
	width: 60%;
	text-align:center;	
}
.right_box{
	float: left;
	width: 20%;
	text-align:center;
}
li{
	float: left;
	list-style: none;
}
li a{
	padding: 30px 20px;
	text-transform: uppercase;
	background: red;
	color: white;
}
l a{
	background: grey;
}
.search{
	margin-top: 50px;
}